:root {
  --fun-green: #186049;
  --eden: #247158;
  --tradewind: #6ab29b;
  --dawn-pink: #e4d5c7;
  --almond-frost: #95877a;

  --white: #fff;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  margin: 5rem auto;
}

.container__mt {
  width: 80%;
  margin: 3rem auto 5rem;
}

/* HEADER */

.header {
  width: 100%;
  color: var(--white);
  background-color: var(--eden);
}

.header__nav {
  color: var(--white);
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav__logo {
  color: var(--white);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  color: var(--white);

  position: relative;
  overflow: hidden;
}
.menu li a:after {
  content: '';
  position: absolute;
  background-color: var(--tradewind);
  width: 100%;
  height: 3px;
  top: 23px;
  display: none;
}
.menu li a:hover::after {
  display: block;
}
.menu li a.active:after {
  display: block;
}