:root {
  --fun-green: #186049;
  --fun-green-opacity: #0ea0723e;
  --eden: #247158;
  --tradewind: #6ab29b;
  --dawn-pink: #e4d5c7;
  --almond-frost: #95877a;

  --white: #fff;
}

/* SLIDER SECTION */

.carousel__container {
  position: relative;
  /* height: 700px; */
  max-height: 500px;
  border-radius: 1rem;
}

.carousel__prev, 
.carousel__next {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  top: calc(50% - 15px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: black;
  color: var(--white);
  opacity: 80%;
  z-index: 10;
}
.carousel__prev {
  left: 10px;
}
.carousel__next {
  right: 10px;
}
.carousel__list {
  overflow: hidden;
  border-radius: 1rem;
  max-height: 500px;
}

.carousel__item {
  width: 100%;
  border-radius: 1rem;
  max-height: 500px;
}
.carousel__img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  max-height: 500px;
}

.carousel__dots .glider-dot {
  display: block;
  width: 30px;
  height: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}
.carousel__dots .glider-dot.active,
.carousel__dots .glider-dot:hover {
  background-color: var(--tradewind);
}


/* CATEGORIES__DIV */

.categories__div {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__main-title {
  text-align: center;
  margin-top: 2rem;
}

.categories__card {
  border: none;
  background: none;
  outline: none;
  width: 130px;
  height: 100%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: 1fr 30px;
}
.categories__card:hover {
  background-color: rgba(128, 128, 128, 0.09);
}

.categories__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categories__title {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER CARDS */

.container {
  padding: 0;
}

.cards__section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  /* outline: 2px solid red; */
}

.card {
  text-decoration: none;
  color: black;
  text-align: center;

  width: 250px;
  height: 100%;
  /* border: 1px solid black; */
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.7rem;

  display: grid;
  /* grid-template-rows: 1fr 20px; */
  gap: 1rem;
}
.card:hover {
  background-color: var(--fun-green-opacity);
}

.card__img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.card__title {
  font-size: 1rem;
}

/* RANDOM CONTAINER */

.random__container {
  padding: 3rem 0;
  background-color: #ffffff;
  background-image:  radial-gradient(#6ab29b 1.25px, transparent 1.25px), radial-gradient(#6ab29b 1.25px, #ffffff 1.25px);
  background-size: 50px 50px;
  background-position: 0 0,25px 25px;
}

.random__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.random__btn {
  text-decoration: none;
  color: var(--white);
  background-color: var(--eden);
  border: 2px solid transparent;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.random__btn:hover {
  color: var(--eden);
  background-color: var(--white);
  border: 2px solid var(--eden);
}

/* MEDIA QUERIES */
@media screen and (max-width: 979px) {
  .card {
    width: 230px;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 979px) {
  .card {
    width: 200px;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 815px) {
  .cards {
    width: 90%;
  }

  .card {
    width: 200px;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 782px) {
  .card {
    width: 180px;
    gap: 0.8rem;
  }

  /* RANDOM CONTAINER */

  .random__title,
  .random__text {
    text-align: center;
  }
}

@media screen and (max-width: 485px) {
  .card {
    width: 150px;
    gap: 0.8rem;
  }
}

