/* SLIDER SECTION */




/* CATEGORIES__DIV */

.categories__div {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__platillo {
  border: none;
  background: none;
  outline: none;
  width: 130px;
  height: 100%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: 1fr 40px;
}
.categories__platillo:hover {
  background-color: rgba(128, 128, 128, 0.045);
}

.categories__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categories__title {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =============== */

.section {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.platillo__link {
  text-decoration: none;
  color: black;

  width: 130px;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr 40px;
}



/* recipe.html */

.contry__div {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.country__flag {
  width: 50px;
  height: 50px;
}